@import 'macro-css';

body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: "Inter", system-ui;
}

a {
  padding: 0;
  margin: 0;
}

button {
  background-color: #FFFFFF;
  border: 0;
}

li:hover,
button:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-block {
  border: 1px solid #F8F8F8;
  border-radius: 10px;
  padding: 15px;

  & input {
    margin-left: 15px;
    border: 0;
    font-size: 16px;
    width: 200px;
  }
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}


.header {
  border-bottom: 1px solid #EAEAEA;
}

.header-right {
  span {
    cursor: pointer;
  }
}

.header-left {
  img:hover {
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
span,
p,
b {
  cursor: default;
  margin: 0;
}

.animated-enter {
  opacity: 0;
}

.animated-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.animated-exit {
  opacity: 1;
}

.animated-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.color-grey {
  color: #9D9D9D;
}

.btnReturn {
  display: block;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color .2s ease-in-out;


  button {
    position: relative;
    background-color: #FFFFFF;

    &::after {
      content: '';
      position: absolute;
      top: -9px;
      left: 3.1px;
      width: 2px;
      height: 12px;
      background-color: #C8C8C8;
      border-radius: 10px;
      transform: rotateZ(45deg);
      transition: background-color .2s ease-in-out;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -8.2px;
      right: 7px;
      width: 2px;
      height: 12px;
      background-color: #C8C8C8;
      border-radius: 10px;
      transform: rotateZ(-45deg);
      transition: background-color .2s ease-in-out;
    }
  }

  &:hover {
    border: 2px solid #5c5c5c;

    button::before,
    button::after {
      background-color: #383838;
    }
  }

  &:active {
    border-width: 2px;
    border-color: #484848;
    // border-top: 3.5px solid #4e4e4e;

    button::before,
    button::after {
      background-color: #484848;
    }
  }
}