@use '../../scss/mixins/mixins.scss' as *;

:root {
 --in-ml: clamp(.2rem, calc(0.4rem + 0.6vw), 2rem);
 --in-w: clamp(1rem, calc(15rem + 1vw), 500rem);
}

.cards {
 padding-top: 30px;
 padding-left: 45px;
 padding-right: 45px;
 padding-bottom: 30px;
}

.cardsWrapper {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.cardsTitleSearch {
 display: flex;
 justify-content: space-between;
 margin-bottom: 35px;
 align-items: center;
}


.searchBlock {
 position: relative;
 border: 1px solid #F8F8F8;
 border-radius: 10px;
 padding: var(--in-ml);
 display: flex;
 align-items: center;

 & input {
  margin-left: var(--in-ml);
  border: 0;
  font-size: var(--fs-3);
  width: var(--in-w);
 }
}



.closeBtn {
 &:hover {
  cursor: pointer;
 }
}

@media (max-width: 1400px) {
 .cards {
  padding-top: get_vw_medium(43px);
  padding-bottom: get_vw_medium(28px);
  padding-left: get_vw_medium(43px);
  padding-right: get_vw_medium(43px);
 }
}

@media (max-width: 1000px) {
 .cards {
  padding-top: get_vw_premedium(41px);
  padding-bottom: get_vw_premedium(26px);
  padding-left: get_vw_premedium(41px);
  padding-right: get_vw_premedium(41px);
 }

 .cardsWrapper {
  justify-content: space-around;
 }
}

@media (max-width: 700px) {

 .cards {
  padding-top: get_vw_aftersmall(39px);
  padding-bottom: get_vw_aftersmall(24px);
  padding-left: get_vw_aftersmall(39px);
  padding-right: get_vw_aftersmall(39px);
 }

 .cardsWrapper {
  justify-content: space-around;
 }



}

@media (max-width: 480px) {
 .cards {
  padding-top: get_vw_small(37px);
  padding-bottom: get_vw_small(22px);
  padding-left: get_vw_small(37px);
  padding-right: get_vw_small(37px);
 }

 .cardsWrapper {
  justify-content: center;
 }

 .cardsTitleSearch {
  flex-direction: column;
  align-items: start;

  h1 {
   margin-bottom: 10px;
  }
 }
}

@media (min-width: 2530px) {

 .cardsWrapper {
  justify-content: start;
 }

 .searchBlock {

  & input {
   margin-left: 15px;
  }
 }


}