.cardContainer {
 border: 1px solid #F8F8F8;
 border-radius: 40px;
 width: clamp(12.5rem, calc(8rem + 5vw), 80rem);
 padding: 20px;
 margin-right: 20px;
 margin-bottom: 10px;
 transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
 container-type: inline-size;
 container-name: card;

 &:hover {
  transform: translateY(-5px);
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
 }

 .favorite {
  cursor: pointer;
  position: absolute;
 }

 &:last-child {
  margin-right: 0px;
 }

 & h5 {
  font-weight: normal;
 }

 & span {
  opacity: 0.5;
  text-transform: uppercase;
 }
}

.cardBottom {
 display: flex;
 justify-content: space-between;
 margin-top: 15px;
 align-items: center;
}

.btnPlus {
 cursor: pointer;
}

.sneakerImg {
 width: clamp(4rem, 70cqi, 50rem);
 height: clamp(3.36rem, 62cqi, 42.1rem);
}

.cardIcon {
 width: clamp(1.5rem, 20cqi, 13rem);
 height: clamp(1.5rem, 20cqi, 13rem);
}