@use '../../scss/mixins/mixins.scss' as *;

:root {
 --img40: clamp(.2rem, calc(2rem + 1vw), 50rem);
}


.cartOpen {
 display: flex;
 align-items: center;
 margin-right: 20px;
}


.header {
 padding-top: get_vw_large(45px);
 padding-bottom: get_vw_large(30px);
 padding-left: get_vw_large(45px);
 padding-right: get_vw_large(45px);
}

.headerRight {
 display: flex;
 align-items: center;

 span {
  cursor: pointer;
 }
}

.headerLeft {
 display: flex;
 align-items: center;

 img {
  width: var(--img40);
  height: var(--img40);
 }

 img:hover {
  cursor: pointer;
 }
}


#menu__toggle {
 opacity: 0;
 position: fixed;
 width: 26px;
 height: 26px;
 z-index: 3;
}

#menu__toggle:checked+.menu__btn>span {
 transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
 top: 0;
 transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
 top: 0;
 transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
 padding-top: 36px;
 top: 0;
}

.menu__btn {
 position: fixed;
 top: 60px;
 right: 20px;
 width: 26px;
 height: 26px;
 cursor: pointer;
 z-index: 2;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
 display: block;
 position: absolute;
 width: 100%;
 height: 2px;
 background-color: #616161;
 transition-duration: .25s;
}

.menu__btn>span::before {
 content: '';
 top: -8px;
}

.menu__btn>span::after {
 content: '';
 top: 8px;
}

.menu__box {
 display: block;
 position: fixed;
 top: -100%;
 left: 0;
 width: 100%;
 padding-top: 36px;
 list-style: none;
 background-color: #edf5f9;
 box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
 transition-duration: .25s;
 z-index: 1;
}

.menu__item {
 display: block;
 padding: 12px 24px;
 color: #333;
 font-family: 'Roboto', sans-serif;
 font-size: 20px;
 font-weight: 600;
 text-decoration: none;
 transition-duration: .25s;
}

.menu__item:hover {
 background-color: #CFD8DC;
}

@media (max-width: 1400px) {

 .header {
  padding-top: get_vw_medium(43px);
  padding-bottom: get_vw_medium(28px);
  padding-left: get_vw_medium(43px);
  padding-right: get_vw_medium(43px);
 }
}

@media (max-width: 1000px) {

 .header {
  padding-top: get_vw_premedium(41px);
  padding-bottom: get_vw_premedium(26px);
  padding-left: get_vw_premedium(41px);
  padding-right: get_vw_premedium(41px);
 }
}

@media (max-width: 700px) {
 .headerRight {
  display: none;
 }

 .header {
  padding-top: get_vw_aftersmall(39px);
  padding-bottom: get_vw_aftersmall(24px);
  padding-left: get_vw_aftersmall(39px);
  padding-right: get_vw_aftersmall(39px);
 }

}

@media (max-width: 480px) {

 .header {
  padding-top: get_vw_small(37px);
  padding-bottom: get_vw_small(22px);
  padding-left: get_vw_small(37px);
  padding-right: get_vw_small(37px);
 }
}

@media (min-width: 2530px) {

 .header {
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 45px;
  padding-right: 45px;
 }
}